<%- include('header') -%>

<div class="page-content">
    <div class="basket">
        <h4>Your Basket</h4>
        <div class="basket-items">
            <div class="basket-item">
                <div class="image-holder">
                    <img src="images/art-equipment.jpg" alt="">
                </div>
                <div class="basket-item-details">
                    <div class="basket-item-name">Pencil 1</div>
                    <div class="basket-item-price">£<span>5.00</span></div>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                    <div class="basket-item-delete">
                        <button>Delete</button>
                    </div>
                </div>
            </div>
            <div class="basket-item">
                <div class="image-holder">
                    <img src="images/art-equipment.jpg" alt="">
                </div>
                <div class="basket-item-details">
                    <div class="basket-item-name">Pencil 1</div>
                    <div class="basket-item-price">£<span>5.00</span></div>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                    <div class="basket-item-delete">
                        <button>Delete</button>
                    </div>
                </div>
            </div>
            <div class="basket-item">
                <div class="image-holder">
                    <img src="images/art-equipment.jpg" alt="">
                </div>
                <div class="basket-item-details">
                    <div class="basket-item-name">Pencil 1</div>
                    <div class="basket-item-price">£<span>5.00</span></div>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                    <div class="basket-item-delete">
                        <button>Delete</button>
                    </div>
                </div>
            </div>
            <div class="basket-item">
                <div class="image-holder">
                    <img src="images/art-equipment.jpg" alt="">
                </div>
                <div class="basket-item-details">
                    <div class="basket-item-name">Pencil 1</div>
                    <div class="basket-item-price">£<span>5.00</span></div>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                    <div class="basket-item-delete">
                        <button>Delete</button>
                    </div>
                </div>
            </div>
            <div class="basket-item">
                <div class="image-holder">
                    <img src="images/art-equipment.jpg" alt="">
                </div>
                <div class="basket-item-details">
                    <div class="basket-item-name">Pencil 1</div>
                    <div class="basket-item-price">£<span>5.00</span></div>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                    <div class="basket-item-delete">
                        <button>Delete</button>
                    </div>
                </div>
            </div>
            <div class="basket-item">
                <div class="image-holder">
                    <img src="images/art-equipment.jpg" alt="">
                </div>
                <div class="basket-item-details">
                    <div class="basket-item-name">Pencil 1</div>
                    <div class="basket-item-price">£<span>5.00</span></div>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                    <div class="basket-item-delete">
                        <button>Delete</button>
                    </div>
                </div>
            </div>
            <div class="basket-item">
                <div class="image-holder">
                    <img src="images/art-equipment.jpg" alt="">
                </div>
                <div class="basket-item-details">
                    <div class="basket-item-name">Pencil 1</div>
                    <div class="basket-item-price">£<span>5.00</span></div>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                    <div class="basket-item-delete">
                        <button>Delete</button>
                    </div>
                </div>
            </div>
            <div class="basket-item">
                <div class="image-holder">
                    <img src="images/art-equipment.jpg" alt="">
                </div>
                <div class="basket-item-details">
                    <div class="basket-item-name">Pencil 1</div>
                    <div class="basket-item-price">£<span>5.00</span></div>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                    <div class="basket-item-delete">
                        <button>Delete</button>
                    </div>
                </div>
            </div>
            <div class="basket-item">
                <div class="image-holder">
                    <img src="images/art-equipment.jpg" alt="">
                </div>
                <div class="basket-item-details">
                    <div class="basket-item-name">Pencil 1</div>
                    <div class="basket-item-price">£<span>5.00</span></div>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                    <div class="basket-item-delete">
                        <button>Delete</button>
                    </div>
                </div>
            </div>
            <div class="basket-item">
                <div class="image-holder">
                    <img src="images/art-equipment.jpg" alt="">
                </div>
                <div class="basket-item-details">
                    <div class="basket-item-name">Pencil 1</div>
                    <div class="basket-item-price">£<span>5.00</span></div>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                    <div class="basket-item-delete">
                        <button>Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="basket-total">

    </div>
</div>

<%- include('footer') -%>