<%- include('header') -%>

<div class="order-details">
    <h4>Your Order</h4>
    <div class="order-items">
        <div class="order-item">
            <div class="item-details">
            <img src="images/winner-1.jpg" alt="">
                <div class="item-name"><span>Item: </span>Pencil 1</div>
                <div class="item-price"><span>Price: </span>£5.00</div>
                <div class="item-quantity"><span>Quanitity: </span>5</div>
            </div>
            <hr>
        </div>
         <div class="order-item">
            <div class="item-details">
            <img src="images/pencil-1.jpg" alt="">
                <div class="item-name"><span>Item: </span>Pencil 1</div>
                <div class="item-price"><span>Price: </span>£5.00</div>
                <div class="item-quantity"><span>Quanitity: </span>5</div>
            </div>
            <hr>
        </div>
         <div class="order-item">
            <div class="item-details">
            <img src="images/winner-2.jpg" alt="">
                <div class="item-name"><span>Item: </span>Pencil 1</div>
                <div class="item-price"><span>Price: </span>£5.00</div>
                <div class="item-quantity"><span>Quanitity: </span>5</div>
            </div>
            <hr>
        </div>
         <div class="order-item">
            <div class="item-details">
            <img src="images/winner-3.jpg" alt="">
                <div class="item-name"><span>Item: </span>Pencil 1</div>
                <div class="item-price"><span>Price: </span>£5.00</div>
                <div class="item-quantity"><span>Quanitity: </span>5</div>
            </div>
            <hr>
        </div>
         <div class="order-item">
            <div class="item-details">
            <img src="images/winner-4.jpg" alt="">
                <div class="item-name"><span>Item: </span>Pencil 1</div>
                <div class="item-price"><span>Price: </span>£5.00</div>
                <div class="item-quantity"><span>Quanitity: </span>5</div>
            </div>
            <hr>
        </div>
         <div class="order-item">
            <div class="item-details">
            <img src="images/winner-5.jpg" alt="">
                <div class="item-name"><span>Item: </span>Pencil 1</div>
                <div class="item-price"><span>Price: </span>£5.00</div>
                <div class="item-quantity"><span>Quanitity: </span>5</div>
            </div>
            <hr>
        </div>
         <div class="order-item">
            <div class="item-details">
            <img src="images/winner-6.jpg" alt="">
                <div class="item-name"><span>Item: </span>Pencil 1</div>
                <div class="item-price"><span>Price: </span>£5.00</div>
                <div class="item-quantity"><span>Quanitity: </span>5</div>
            </div>
            <hr>
        </div>
         <div class="order-item">
            <div class="item-details">
            <img src="images/pencil-1.jpg" alt="">
                <div class="item-name"><span>Item: </span>Pencil 1</div>
                <div class="item-price"><span>Price: </span>£5.00</div>
                <div class="item-quantity"><span>Quanitity: </span>5</div>
            </div>
            <hr>
        </div>
         <div class="order-item">
            <div class="item-details">
            <img src="images/pencil-1.jpg" alt="">
                <div class="item-name"><span>Item: </span>Pencil 1</div>
                <div class="item-price"><span>Price: </span>£5.00</div>
                <div class="item-quantity"><span>Quanitity: </span>5</div>
            </div>
            <hr>
        </div>
        </div>
    </div>
<div class="delivery-address">

</div>
<div class="payment-method">

</div>
<div class="final-cost">

</div>

<%- include('footer') -%>
