<%- include('header'); -%>

<div class="artcontest-hero hero">
    <h4 class="product-header white"><%= header %></h4>
</div>
<div class="artcontest-guide">
    <div class="title">
        <h4>How to be a part of our Art Contest!</h4>
    </div>
    <div class="steps">
           <div class="step">
        <div class="circle">1</div>
        <h6>How to Enter?</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In eu lobortis felis. Sed ut mattis augue, non condimentum ante. 
            Suspendisse potenti. Nulla id venenatis sapien. 
            Proin rutrum mattis erat id vestibulum. Ut ac leo erat. </p>
    </div>
     <div class="step">
        <div class="circle">2</div>
        <h6>How to Submit?</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In eu lobortis felis. Sed ut mattis augue, non condimentum ante. 
            Suspendisse potenti. Nulla id venenatis sapien. 
            Proin rutrum mattis erat id vestibulum. Ut ac leo erat. </p>
    </div>
     <div class="step">
        <div class="circle">3</div>
        <h6>Did You Win?</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            In eu lobortis felis. Sed ut mattis augue, non condimentum ante. 
            Suspendisse potenti. Nulla id venenatis sapien. 
            Proin rutrum mattis erat id vestibulum. Ut ac leo erat. </p>
    </div>
    </div>
</div>

<%- include('footer'); -%>