<%- include('header') -%>

<div class="page-content">
    <div class="form-holder">
        <h4>Create an Account</h4>
        <form class="form" action="/auth/createaccount" method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <button type="submit">Create Account</button>
        </form>
    </div>
</div>

<%- include('footer') -%>