</body>
    <footer>
       <div class="helpful-info">
           <h3>Helpful Information</h3>
           <a href="contact">Find Us</a>
           <a href="contact">Contact Us</a>
           <a href="orders">Your Orders</a>
       </div>
       <div class="account">
           <h3>Account</h3>
           <a href="login">Log In</a>
           <a href="createaccount">Create Account</a>
           <a href="youraccount">Your Account</a>
       </div>
       <div class="other">
           <h3>Other</h3>
           <a href="#">Terms and Conditions</a>
           <a href="#">Privacy Policy</a>
           <a href="#">Cookies</a>
       </div>
       <div class="social-media">
           <i class="fab fa-facebook-square"></i>
           <i class="fab fa-twitter-square"></i>
           <i class="fab fa-instagram-square"></i>
       </div>
    </footer>
</html>