<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/3d64925a9f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="banner">
            <p>10% OFF ALL STORE PRODUCTS NOW!</p>
        </div>
        <nav class="nav">
            <div class="links">
                <a href="#">Our Products</a>
                <a href="#">Art Contests</a>
                <a href="#">Contact Us</a>
                <a href="#">Sign In</a>
            </div>
            <div class="burger">
                <span class="first-bar"></span>
                <span class="second-bar"></span>
                <span class="third-bar"></span>
            </div>
            <div class="logo">
                <a href="/"><h2>Giraffe</h2></a>
            </div>
            <i class="fas fa-search"></i>
            <a href="basket"><i class="fas fa-shopping-basket"></i></a>
        </nav>
    </header>