<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/3d64925a9f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="banner">
            <p>10% OFF ALL STORE PRODUCTS NOW!</p>
        </div>
        <nav id="nav" class="nav">
            <div id="burger" class="burger">
                <span id="first-bar" class=""></span>
                <span id="second-bar" class=""></span>
                <span id="third-bar" class=""></span>
            </div>
            <div class="logo">
                <a href="/">
                    <h2>Giraffe</h2>
                </a>
            </div>
            <div id="links" class="links">
                <div class="dropdown">
                    <a href="contact">Our Products<i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="pens">Pens</a>
                        <a href="notebooks">Notebooks</a>
                        <a href="pencils">Pencils</a>
                    </div>
                </div>
                <a href="artcontest">Art Contests</a>
                <a href="contact">Contact Us</a>
            </div>
            <form id="search-container" class="search-container" action="/search" method="post">
                <input class="searchbar" type="search" name="query" value="" placeholder="Search Products...">
                <input class="searchbar-btn" type="submit" value="Search">
            </form>
            <i id="search-icon" class="fas fa-search"></i>
            <% if(loggedin) { %>
            <a id="item" class="sign-in-link" href="youraccount"><%= username %></a>
            <%     } else { %>
            <a id="item" class="sign-in-link" href="login">Sign In</a>
            <%    } %>
            <a href="basket">
                <p class="basket-amount"><%= basketAmount %></p>
                <i class="fas fa-shopping-basket"></i>
            </a>
        </nav>
    </header>
    <script src="scripts/nav.js"></script>
    <script src="scripts/search.js"></script>