<%- include('header'); -%>

<div class="hero">
    <a href="#">Get Latest Notebook</a>
</div>
<div class="categories">
    <div class="category-1">
        <a href="#">Notebooks</a>
    </div>
    <div class="category-2">
        <a href="#">Pens</a>
    </div>
    <div class="category-3">
        <a href="#">Stationery</a>
    </div>
</div>

<%- include('footer'); -%>
