<%- include('header'); -%>

<div class="hero">
    <a href="#">Get Latest Notebook</a>
</div>
<div class="categories">
    <div class="category-1">
        <a href="#">Notebooks</a>
    </div>
    <div class="category-2">
        <a href="http://localhost:3000/pens">Pens</a>
    </div>
    <div class="category-3">
        <a href="#">Stationery</a>
    </div>
</div>
<div class="midpage-hero hero">
    <a href="#">Get Your Art Equipment Here</a>
</div>
<div class="row-desktop">
    <div class="factbox">
        <h6>Fact Zone!</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras bibendum magna sed libero rhoncus viverra.
            Fusce rutrum ac tortor non maximus.</p>
        <button>Generate Fact!</button>
    </div>
    <div class="social-media-sec desktop-socials">
        <h6>Follow Us!</h6>
        <div class="social-media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram-square"></i>
        </div>
    </div>
</div>
<div class="categories">
    <div class="category-1">
        <a href="#">Notebooks</a>
    </div>
    <div class="category-2">
        <a href="#">Pens</a>
    </div>
    <div class="category-3">
        <a href="#">Stationery</a>
    </div>
</div>

<%- include('footer'); -%>