<%- include('header'); -%>

<div class="page-content">
    <div class="hero">
        <a class="hero-link" href="/a5-mixed-notebook">Get Latest Notebook</a>
    </div>
    <div class="categories">
        <div class="category-1">
            <a href="/notebooks">Notebooks</a>
        </div>
        <div class="category-2">
            <a href="/pens">Pens</a>
        </div>
        <div class="category-3">
            <a href="/pencils">Pencils</a>
        </div>
    </div>
    <div class="midpage-hero hero">
        <a class="hero-link" href="art-equipment">Get Your Art Equipment Here</a>
    </div>
    <div class="row-desktop">
        <div class="factbox">
            <h6>Fact Zone!</h6>
            <p id="fact">Click the button to generate a cool fact!</p>
            <button id="randomBtn">Generate Fact!</button>
        </div>
        <div class="social-media-sec desktop-socials">
            <h6>Follow Us!</h6>
            <div class="social-media">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-instagram-square"></i>
            </div>
        </div>
    </div>
    <div class="categories">
        <div class="category-1">
            <a href="cards">Cards</a>
        </div>
        <div class="category-2">
            <a href="art">Art</a>
        </div>
        <div class="category-3">
            <a href="bags">Bags</a>
        </div>
    </div>
</div>
<script src="scripts/fact.js"></script>
<%- include('footer'); -%>