<%- include('header') -%>

<div class="page-content">
    <div class="form-holder">
        <h4>Login</h4>
        <form class="form" action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <button type="submit">Login</button>
        </form>
    </div>
</div>

<%- include('footer') -%>