<%- include('header') -%>

<div class="page-content">
    <div class="orders">
        <h4>Your Orders</h4>
        <table>
            <tr>
                <th>Order ID</th>
                <th>Order Price</th>
                <th>Order Date</th>
                <th>Order Status</th>
            </tr>
            <tr class="order">
                <td class="order-id">dy3y3xbxb</td>
                <td class="order-price">£<span>25.00</span></td>
                <td class="order-date">12/07/2021</td>
                <td class="order-status">Done</td>
            </tr>
        </table>
    </div>

</div>

<%- include('footer') -%>