<%- include('header') -%>

<div class="page-content">
    <div class="product-page-product">
        <div class="product-page-img">
            <img src="images/pencil-1.jpg" alt="">
        </div>
        <div class="product-page-details">
            <div class="product-page-title">Pencil</div>
            <div class="product-page-price">£<span>5.00</span></div>
            <hr>
            <div class="product-page-actions">
                <i class="far fa-heart"></i>
                <button>Add to Basket</button>
            </div>
            <hr>
            <div class="product-description-title">PRODUCT DESCRIPTION</div>
            <div class="product-page-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Mauris tristique laoreet massa, non consequat sapien feugiat in. 
                Morbi lacus tellus, semper a ligula in, malesuada placerat mi. 
                Morbi pulvinar ac.</div>
        </div>
    </div>
</div>

<%- include('footer') -%>