<%- include('header') -%>

<div class="page-content">
    <div class="form-holder">
        <h4>Update Password</h4>
        <form class="form" action="/update" method="POST">
            <% if(message) { %>
            <span class="error"><%= message %></span>
            <% } else {%>
            <span class="success"><%= success_message %></span>
            <%  }%>
            <label for="new-password">New Password</label>
            <input type="password" name="new-password" id="new-password">
            <label for="retype-new-password">Re-Type New Password</label>
            <input type="password" name="retype-new-password" id="retype-new-password">
            <label for="current-password">Current Password</label>
            <input type="password" name="current-password" id="current-password">
            <button type="submit" name="type" value="update-password">Update</button>
        </form>
    </div>
</div>

<%- include('footer') -%>