<%- include('header') -%>

<div class="page-content">
    <div class="account-hero hero">
        <h4 class="product-header"><%= header %></h4>
    </div>
    <div class="products">
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product">
            <img class="product-img" src="images/pencil-1.jpg" alt="">
            <a href="#">Pencil 1</a>
            <div class="product-info">
                <div class="price">
                    <span>£</span>4.50
                    <div class="old-price"><span>£</span>5.00</div>
                </div>
                <div class="actions">
                    <i class="fas fa-trash-alt"></i>
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('footer') -%>