<%- include('header') -%>

<div class="page-content">
    <div class="account-hero hero">
        <h4 class="product-header"><%= header %></h4>
    </div>
    <div class="boxes">
        <div class="account-box">
            <h4>Account Details</h4>
            <a href="">Update Password</a>
            <a href="">Update Email</a>
            <a href="">Update Address</a>
            <a href="">Update Phone Number</a>
        </div>
        <div class="account-box">
            <h4>Order Details</h4>
            <a href="orders">Previous Orders</a>
            <a href="orders">Current Orders</a>
        </div>
        <div class="account-box">
            <h4>Other</h4>
            <a href="wishlist">Wishlist</a>
            <a href="">Contact Us</a>
            <a href="">Newsletter</a>
            <a href="logout">Sign out</a>
        </div>
    </div>

</div>

<%- include('footer') -%>