/* page css */

*, *::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


/* header */

.banner {
    background-color: #F2B613;
    color: #000;
    text-align: center;
    padding: 10px;
}

nav {
    position: relative;
    background-color: #B46325;
    height: 70px;
    /* border: 2px solid blue; */
}

.burger{
    position: absolute;
    top: 20px;
    left: 20px;
}

.burger span {
    display: block;
    background: #fff;
    height: 3px;
    width: 25px;
    border-radius: 2px;
    margin: 5px;
}

.burger:hover {
    cursor: pointer;
}


.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid blue; */
    background-color: #B46325;
    height: 33.33vw;
    justify-content: space-between;
    position: relative;
    top: -500px;
    transition: 0.3s;
}

.down {
    top: 0;
}

.hide {
    opacity: 0;
}

.links a {
    all: unset;
    color: white;
    /* border: 2px solid white; */
    width: 100%;
    text-align: center;
    padding: 10px;
}

.links a:hover {
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 20px;
    left: 100px;
    color: #fff;
}

.fa-search {
    position: absolute;
    top: 25px;
    right: 80px;
    color:#fff;
}

.fa-shopping-basket {
    position: absolute;
    top: 25px;
    right: 20px;
    color: #fff;
}

.fa-search:hover, .fa-shopping-basket:hover {
    cursor: pointer;
}



/* footer */

footer {
    position: relative;
    bottom: 0;
    background-color: #B46325;
    width: 100%;
    text-align: center;
}

footer, h3, a {
    color: #fff;
}

footer h3 {
    text-decoration: underline;
    margin-top: 15px;
}

footer a {
    all: unset;
    cursor: pointer;
    margin-top: 5px;
}

.helpful-info, .account, .other {
    display: flex;
    flex-direction: column;
}

.social-media {
    margin-top: 15px;
}

.fab {
    font-size: 30px;
    margin: 5px;
}

.fab:hover {
    cursor: pointer;
}

.fa-facebook-square {
    color: #4267B2;
}

.fa-twitter-square {
    color: #1DA1F2;
}

.fa-instagram-square {
    color: #5851DB;
}



/* hero */

.hero {
    width: 100vw;
    height: 25vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::after {
    content: '';
    background: url(images/notebook-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}


.hero a {
    all: unset;
    background-color: #F2B613;
    padding: 10px 7.5px;
    color: #000;
    border-radius: 4.5px;
}

.hero a:hover {
    cursor: pointer;
}



/* category section */


.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    padding: 10px 0;
}

.category-1,
.category-2,
.category-3 {
    width: 50vw;
    height: 25vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #B46325;
    border-radius: 4.5px;
}

.category-1::after {
    content: '';
    background: url(images/notebook-cat-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.category-2::after {
    content: '';
    background: url(images/pens-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.category-3::after {
    content: '';
    background: url(images/stationery-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.categories a {
    all: unset;
    background-color: #F2B613;
    padding: 10px 7.5px;
    color: #000;
    border-radius: 4.5px;
}

.categories a:hover {
    cursor: pointer;
}



/* midpage hero */

.midpage-hero::after {
    content: '';
    background: url(images/art-equipment.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}



/* midpage social media section */

.social-media-sec {
    text-align: center;
    border: 2px solid #B46325;   
    margin: 10px auto;
    padding: 12.5px;
}

.social-media-sec h6 {
    font-size: 1.25em;
    font-weight: 400;
    text-decoration: underline;
}

.social-media-sec .fab {
    font-size: 50px;
    margin: 5px;
}



/* fact zone */

.factbox {
    background-color: #B46325;
    color: #fff;
    padding: 12.5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.factbox h6 {
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 10px;
}

.factbox button {
    all: unset;
    background-color: #F2B613;
    padding: 10px 7.5px;
    color: #000;
    border-radius: 4.5px;
}

.factbox button:hover {
    cursor: pointer;
}


/* product hero */

.product-hero::after {
    content: '';
    background: url(images/notebook-cat-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.25;
}

.product-header {
    font-size: 1.5em;
    color: #B46325;
}


/* filter */

.filter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.filter button {
    all: unset;
    background-color: #F2B613;
    padding: 10px 7.5px;
    color: #000;
    border-radius: 4.5px;
    margin: 0 auto;
    margin-top: 10px;
}

.filter-options {
    border: 2px solid rgb(90, 86, 86);
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    margin-top: 10px;
}

.filter-options button {
    all: unset;
    padding: 7.5px;
}

/* products */


.products {
    width: 80vw;
    margin: 10px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* border: 2px solid green; */
}


.product {
    width: 33.33vw;
    flex-basis: 40%;
}

.product-img{
    width: 100%;
}

.product a {
    all: unset;
    display: flex;
    justify-content: center;
    color: black;
}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    border: 2px solid #000;
    padding: 5px;
    margin-top: 10px;
}

.old-price {
    text-decoration: line-through;
}

.actions {
    display: flex;
}

.actions i {
    margin: 2.5px;
}



/* artcontest hero */

.artcontest-hero::after {
    content: '';
    background: url(images/artcontest-header.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

/* artcontest guide */

.artcontest-guide {
    /* border: 2px solid red; */
    width: 80vw;
    margin: 10px auto;
}

.title h4 {
    text-align: center;
    font-size: 1.25em;
    color: #B46325;
}

.step {
    /* border: 2px solid red; */
    padding:0 10px 10px 10px;
}

.circle {
    border: 2px solid #000;
    width: 7.5vw;
    margin: 20px auto;
    border-radius: 100%;
    height: 7.5vw;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step h6 {
    text-align: center;
    font-size: 1.25em;
}

.step p {
    margin-top: 10px;
}

hr {
    height: 5px;
    background-color: #B46325;
    width: 80vw;
    margin: 10px auto;
}



/* artcontest gallery */

.gallery {
    width: 80vw;
    margin: 0 auto;
}

.title h4 {
    margin-bottom: 25px;
}

.winner {
    /* border: 2px solid red; */
    margin: 20px 0;
}

.winner img {
    width: 100%;
}

.winner-info .name {
    font-weight: 700;
    margin-bottom: 7.5px;
}

.winner-info {
    margin-top: 10px;
}



/* contact page hero */

.contact-hero::after {
    content: '';
    background: url(images/contact-header.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}



/* contact page */

.form-and-details {
    width: 80vw;
    /* border: 2px solid red; */
    margin: 10px auto;
}

.form-and-details h4 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.25em;
}

.details {
    /* border: 2px solid green; */
    margin: 0 auto;
    background-color: #B46325;
    color: #fff;
    padding: 15px;
}

.number, .email, .address, .form-method {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.details i {
    margin-right: 10px;
    color: #F2B613;
}


.form {
    /* border: 2px solid blue; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.form label {
    margin: 12.5px 0;
}

.form button {
    all: unset;
    background-color: #F2B613;
    padding: 10px 7.5px;
    color: #000;
    border-radius: 4.5px;
    margin: 0 auto;
    margin-top: 10px;
}

.form button:hover {
    cursor: pointer;
}

.form input, .form textarea {
    all: unset;
    border: 1.5px solid grey;
    padding: 10px 5px;
}


/* responsive concept */

@media(min-width: 1000px) {
    .product {
        flex-basis: 22.5%;
    }

    .steps {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .step {
        width: 25vw;
    }

    .circle {
        width: 2.5vw;
        height: 2.5vw;
    }

    .winners {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .winner {
        flex-basis: 40%;
    }
}

