/* page css */

*, *::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}



/* header */

.banner {
    background-color: #F2B613;
    color: #000;
    text-align: center;
    padding: 10px;
}

nav {
    position: relative;
    background-color: #B46325;
    height: 70px;
    /* border: 2px solid blue; */
}

.burger{
    position: absolute;
    top: 20px;
    left: 20px;
}

.burger span {
    display: block;
    background: #fff;
    height: 3px;
    width: 25px;
    border-radius: 2px;
    margin: 5px;
}

.burger:hover {
    cursor: pointer;
}


.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid blue; */
    background-color: #B46325;
    height: 33.33vw;
    justify-content: space-between;
    position: relative;
    top: -500px;
    transition: 0.3s;
}

.down {
    top: 0;
}

.hide {
    opacity: 0;
}

.links a {
    all: unset;
    color: white;
    /* border: 2px solid white; */
    width: 100%;
    text-align: center;
    padding: 10px;
}

.links a:hover {
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 20px;
    left: 100px;
    color: #fff;
}

.fa-search {
    position: absolute;
    top: 25px;
    right: 80px;
    color:#fff;
}

.fa-shopping-basket {
    position: absolute;
    top: 25px;
    right: 20px;
    color: #fff;
}

.fa-search:hover, .fa-shopping-basket:hover {
    cursor: pointer;
}



/* footer */

footer {
    position: relative;
    bottom: 0;
    background-color: #B46325;
    width: 100%;
    text-align: center;
}

footer, h3, a {
    color: #fff;
}

footer h3 {
    text-decoration: underline;
}

footer a {
    all: unset;
    cursor: pointer;
    margin-top: 5px;
}

.helpful-info, .account, .other {
    display: flex;
    flex-direction: column;
}

.social-media {
    margin-top: 15px;
}

.fab {
    font-size: 30px;
    margin: 5px;
}

.fab:hover {
    cursor: pointer;
}

.fa-facebook-square {
    color: #4267B2;
}

.fa-twitter-square {
    color: #1DA1F2;
}

.fa-instagram-square {
    color: #5851DB;
}



/* hero */

.hero {
    width: 100vw;
    height: 25vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::after {
    content: '';
    background: url(images/notebook-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}


.hero a {
    all: unset;
    background-color: #F2B613;
    padding: 10px 7.5px;
    color: #000;
    border-radius: 4.5px;
}

.hero a:hover {
    cursor: pointer;
}



/* category section */


.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    padding: 10px 0;
}

.category-1,
.category-2,
.category-3 {
    width: 50vw;
    height: 25vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #B46325;
    border-radius: 4.5px;
}

.category-1::after {
    content: '';
    background: url(images/notebook-cat-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.category-2::after {
    content: '';
    background: url(images/pens-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.category-3::after {
    content: '';
    background: url(images/stationery-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.categories a {
    all: unset;
    background-color: #F2B613;
    padding: 10px 7.5px;
    color: #000;
    border-radius: 4.5px;
}

.categories a:hover {
    cursor: pointer;
}



/* midpage hero */

.midpage-hero::after {
    content: '';
    background: url(images/art-equipment.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}



/* social media section */

.social-media-sec {
    text-align: center;
    /* border: 2px solid black; */
    width: 50vw;
    margin: 10px auto;
}

.social-media-sec h6 {
    font-size: 1.25em;
    font-weight: 400;
    text-decoration: underline;
}

.social-media-sec .fab {
    font-size: 50px;
    margin: 5px;
}



/* fact zone */



