/* global css */

*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.page-content {
    padding-bottom: 25rem;
}


/* header */

.banner {
    background-color: #F2B613;
    color: #000;
    text-align: center;
    padding: 10px;
}

nav {
    position: relative;
    background-color: #B46325;
    height: 70px;
    z-index: 10;
    /* border: 2px solid blue; */
}

.burger {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 101;
}

.burger span {
    display: block;
    background: #fff;
    height: 3px;
    width: 25px;
    border-radius: 2px;
    margin: 5px;
    position: relative;
}

.first-bar {
    top: 11px;
    transform: rotate(45deg);
}

.second-bar {
    opacity: 0;
}

.third-bar {
    bottom: 5px;
    transform: rotate(-45deg);
}

.burger:hover {
    cursor: pointer;
}

.search-container {
    position: absolute;
    top: 15px;
    left: 240px;
    display: flex;
    align-items: center;
    width: 40%;
}

.searchbar {
    all: unset;
    background-color: #fff;
    padding: 10px 7.5px;
    font-size: .75em;
    font-family: Arial,
        Helvetica,
        sans-serif;
    border-radius: 5px 0 0 5px;
    width: 75%;
}

.searchbar-btn {
    all: unset;
    font-size: .75em;
    width: 25%;
    text-align: center;
    background-color: #F2B613;
    height: 34.5px;
    border-radius: 0 5px 5px 0;
}

.searchbar-btn:hover {
    cursor: pointer;
}

.sign-in-link {
    all: unset;
    background-color: #F2B613;
    padding: 10px;
    color: #000;
    text-align: center;
    display: block;
    position: relative;
    top: -500px;
    transition: 0.3s;
    z-index: 100;
}

.sign-in-link:hover {
    cursor: pointer;
}

.links {
    /* border: 2px solid blue; */
    background-color: #B46325;
    min-height: 10vh;
    justify-content: space-between;
    position: relative;
    top: -500px;
    transition: .3s;
    z-index: 100;
}

.links a,
.dropdown a,
.dropdown-content a {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* border: 2px solid white; */
    width: 100%;
    text-align: center;
    padding: 10px;
}

.dropdown-content a {
    font-size: 13px;
    color: rgb(238, 216, 216);
}

.dropdown-content {
    display: none;
    background-color: #B46325;
}

.links a:hover {
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    position: absolute;
    top: 20px;
    left: 100px;
    color: #fff;
}

.logo a {
    text-decoration: none;
}

.fa-search {
    position: absolute;
    top: 25px;
    right: 80px;
    color: #fff;
    display: block;
}

.basket-amount {
    color: #F2B613;
    position: absolute;
    top: 12px;
    font-size: 12px;
    right: 26px;
}

.fa-shopping-basket {
    position: absolute;
    top: 25px;
    right: 20px;
    color: #fff;
}

.fa-search:hover,
.fa-shopping-basket:hover {
    cursor: pointer;
}


.down {
    top: 0px;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}


/* footer */

footer {
    position: absolute;
    bottom: 0;
    background-color: #B46325;
    width: 100%;
    text-align: center;
    height: 25rem;
}

footer,
h3,
a {
    color: #fff;
}

footer h3 {
    text-decoration: underline;
    margin-top: 15px;
}

footer a {
    all: unset;
    cursor: pointer;
    margin-top: 5px;
}

.helpful-info,
.account,
.other {
    display: flex;
    flex-direction: column;
}

.social-media {
    margin-top: 15px;
}

.fab {
    font-size: 30px;
    margin: 5px;
}

.fab:hover {
    cursor: pointer;
}

.fa-facebook-square {
    color: #4267B2;
}

.fa-twitter-square {
    color: #1DA1F2;
}

.fa-instagram-square {
    color: #5851DB;
}





/* hero */

.hero {
    width: 100vw;
    height: 25vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hero::before {
    content: '';
    background: url(images/notebook-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}


.hero a {
    all: unset;
    background-color: #fff;
    padding: 10px 7.5px;
    color: #000;
    border-radius: 4.5px;
    z-index: 100;
}

.hero-link:hover {
    background-color: #F2B613;
    cursor: pointer;
}





/* category section */


.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}

.category-1,
.category-2,
.category-3,
.category-4,
.category-5,
.category-6 {
    width: 50vw;
    height: 25vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #B46325;
    border-radius: 4.5px;
}

.category-1::after {
    content: '';
    background: url(images/notebook-cat-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.category-2::after {
    content: '';
    background: url(images/pens-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.category-3::after {
    content: '';
    background: url(images/stationery-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.category-4::after {
    content: '';
    background: url(images/card-home.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.category-5::after {
    content: '';
    background: url(images/art-home.jpeg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.category-6::after {
    content: '';
    background: url(images/bag-home.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}


.categories a {
    all: unset;
    background-color: #fff;
    padding: 10px 7.5px;
    color: #000;
    border-radius: 4.5px;
}

.categories a:hover {
    background-color: #F2B613;
    cursor: pointer;
}





/* midpage hero */

.midpage-hero::after {
    content: '';
    background: url(images/art-equipment.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

.midpage-link {
    all: unset;
    background-color: #fff;
    padding: 10px 7.5px;
    color: #000;
    border: 2px solid #B46325;
    border-radius: 4.5px;
}





/* midpage social media section */

.social-media-sec {
    text-align: center;
    border: 2px solid #B46325;
    margin: 10px auto;
    padding: 12.5px;
    width: 80vw;
}

.social-media-sec h6 {
    font-size: 1.25em;
    font-weight: 400;
    text-decoration: underline;
}

.social-media-sec .fab {
    font-size: 50px;
    margin: 5px;
}





/* fact zone */

.factbox {
    background-color: #B46325;
    color: #fff;
    padding: 12.5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.factbox p {
    width: 75%;
    text-align: center;
}

.factbox h6 {
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 10px;
}

.factbox button {
    all: unset;
    background-color: #fff;
    padding: 7.5px;
    color: #000;
    border-radius: 4.5px;
    margin-top: 12.5px;
}

.factbox button:hover {
    background-color: #F2B613;
    cursor: pointer;
}





/* product hero */

.product-hero::after {
    content: '';
    background: url(images/notebook-cat-img.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.25;
}

.product-header {
    font-size: 1.5em;
    color: #B46325;
    background-color: #F2B613;
    padding: 10px
}





/* filter */

.filter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.filter button {
    all: unset;
    background-color: #F2B613;
    padding: 10px 7.5px;
    color: #000;
    border-radius: 4.5px;
    margin: 0 auto;
    margin-top: 10px;
}

.filter-options {
    border: 2px solid rgb(90, 86, 86);
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    margin-top: 10px;
}

.filter-options button {
    all: unset;
    padding: 7.5px;
}





/* products */


.products {
    width: 80vw;
    margin: 10px auto;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* border: 2px solid green; */
}


.product {
    width: 35vw;
    flex-basis: 40%;
    /* border: 2px solid red; */
}

.product:hover {
    cursor: pointer;
}

.product-img {
    width: 100%;
    height: 200px;
    /* border: 2px solid red; */
    margin-top: 10px;
}

.name-btn {
    all: unset;
    display: flex;
    justify-content: center;
    color: black;
    /* border: 2px solid black; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    border: 2px solid #000;
    padding: 5px;
    /* margin-top: 10px; */
}

.old-price {
    text-decoration: line-through;
}

.price {
    color: #000;
}

.actions {
    display: flex;
}

.actions i {
    margin: 5px;
}

.basket-add {
    all: unset;
    color: green;
}

.wishlist-add {
    all: unset;
    color: green;
}

.wishlist-delete {
    all: unset;
    color: red;
}

.basket-add:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.wishlist-add:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.delete-all-from-basket {
    all: unset;
    color: red;
}

.delete-all-from-basket:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.wishlist-delete:hover {
    cursor: pointer;
    transform: scale(1.2);
}






/* artcontest hero */

.artcontest-hero::after {
    content: '';
    background: url(images/artcontest-header.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}




/* artcontest guide */

.artcontest-guide {
    /* border: 2px solid red; */
    width: 80vw;
    margin: 10px auto;
}

.title h4 {
    text-align: center;
    font-size: 1.25em;
    color: #B46325;
}

.step {
    /* border: 2px solid red; */
    padding: 0 10px 10px 10px;
}

.step a {
    background-color: #F2B613;
    color: black;
    padding: 4px;
}

.circle {
    border: 2px solid #000;
    width: 7.5vw;
    margin: 20px auto;
    border-radius: 100%;
    height: 7.5vw;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step h6 {
    text-align: center;
    font-size: 1em;
    font-weight: 600;
}

.step p {
    font-weight: 300;
    margin-top: 10px;
}

.step .center {
    text-align: center;
}


/* artcontest gallery */

.gallery {
    width: 80vw;
    margin: 0 auto;
}

.title h4 {
    margin-bottom: 25px;
    font-size: 20px;
}

.winner {
    /* border: 2px solid red; */
    margin: 20px 0;
}

.winner img {
    width: 100%;
}

.winner-info .name {
    font-weight: 600;
    margin-bottom: 7.5px;
}

.winner-info {
    margin-top: 10px;
}




/* contact page hero */

.contact-hero::after {
    content: '';
    background: url(images/contact-header.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}




/* contact page */

.form-and-details {
    width: 80vw;
    /* border: 2px solid red; */
    margin: 10px auto;
}

.form-and-details h4 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.25em;
}

.contact-details {
    /* border: 2px solid green; */
    margin: 0 auto;
    background-color: #B46325;
    color: #fff;
    padding: 15px;
}


#map {
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

.number,
.email,
.address,
.form-method {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.contact-details i {
    margin-right: 10px;
    color: #F2B613;
}


.form {
    /* border: 2px solid blue; */
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

.form label {
    margin: 12.5px 0;
}

.form button {
    all: unset;
    background-color: #F2B613;
    padding: 10px 7.5px;
    color: #000;
    border-radius: 4.5px;
    margin: 0 auto;
    margin-top: 10px;
}

.form button:hover {
    cursor: pointer;
}

.form input,
.form textarea {
    all: unset;
    border: 1.5px solid grey;
    padding: 10px 5px;
}






/* create account/login page*/

.form-holder {
    /* border: 2px solid red; */
    width: 80vw;
    margin: 10px auto;
}

.form-holder form {
    margin-top: 20px;
}

.form-holder h4 {
    font-size: 1.25em;
    text-align: center;
}

.error {
    color: red;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}

.success {
    color: green;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}


.movement-message {
    text-align: center;
}

.movement-message a {
    color: black;
}




/* basket page */

.basket {
    width: 80vw;
    margin: 10px auto;
}

.basket h4 {
    text-align: center;
    font-size: 1.25em;
    margin: 25px 0;
}

.basket-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid grey;
}

.basket-items form {
    width: 100%;
}

.basket-item {
    border-bottom: 1.5px solid grey;
    display: flex;
    margin-top: 15px;
    width: 100%;
}

.image-holder {
    width: 50%;
    padding: 10px;
}

.image-holder img {
    width: 100%;
    height: 100%;
}

.basket-item-details {
    width: 100%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.basket-item-actions {
    /* border: 2px solid red; */
    display: flex;
}

.basket-item-actions button {
    all: unset;
    border: 2px solid grey;
    padding: 5px;
}

.basket-item-actions button:hover {
    cursor: pointer;
}

.basket-item-name {
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.basket-item-price,
.basket-item-actions {
    font-size: .85em;
}


.review-sec a:hover {
    cursor: pointer;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid grey;
    font-weight: 600;
}

.review-sec {
    margin-top: 20px;
    padding: 20px;
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-weight: 600;
    color: green;
}

.basket-total {
    font-size: 20px;
    text-align: center;
}

.basket-total span {
    color: green;
    font-weight: 600;
}

.review-sec a {
    all: unset;
    display: block;
    margin: 20px auto;
    width: 150px;
    text-align: center;
    background: #F2B613;
    padding: 5px;
    color: #000;
}

.review-sec button {
    all: unset;
    display: block;
    margin: 20px auto;
    width: 150px;
    text-align: center;
    background: #F2B613;
    padding: 5px;
    color: #000;
}

.review-sec button:hover {
    cursor: pointer;
}




/* checkout page */


.order-details,
.delivery-address,
.payment-method,
.final-cost {
    width: 80vw;
    margin: 20px auto;
}

.cko-details {
    /* border: 2px solid grey; */
    margin: 25px 0;
}

.order-details h4,
.delivery-address h4,
.payment-method h4,
.final-cost h4 {
    font-size: 1.25em;
    text-align: center;
}

.order-items,
.delivery-address-details {
    border: 2px solid grey;
    margin-top: 10px;
}

.order-item {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.order-item img {
    width: 25%;
    margin-right: 7.5px;
    /* border: 2px solid red; */
}

.item-details {
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    width: 100%;
}

.cko-quantity span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 600;
}


.item-name span,
.item-price span,
.item-quantity span {
    font-weight: 700;
}

.item-name,
.item-price,
.item-quantity {
    margin-right: 7.5px;
}


.delivery-address-detail {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    width: 60vw;
}

.delivery-address-detail input,
select,
textarea {
    all: unset;
    border: 1px solid grey;
    padding: 10px 5px;
}

.payment-method {
    display: flex;
    flex-direction: column;
}

.payment-method select,
label {
    width: 60vw;
    margin: 0 auto;
}

.final-cost p {
    margin-top: 10px;
    font-size: 1.25em;
}

.complete-order {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.complete-order button {
    all: unset;
    background-color: #F2B613;
    padding: 10px 7.5px;
    color: #000;
    border-radius: 4.5px;
    margin: 0 auto;
    margin-top: 20px;
}

.complete-order button:hover {
    cursor: pointer;
}





/* myaccount page */

.account-hero::after {
    content: '';
    background: url(images/account-header.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.boxes {
    width: 80vw;
    margin: 10px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* border: 2px solid green; */
}

.account-box {
    flex-basis: 100%;
    border: 2px solid #B46325;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.account-box a {
    all: unset;
    color: #B46325;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.account-box a:hover {
    cursor: pointer;
}





/* orders page */

.orders {
    width: 80vw;
    margin: 10px auto;
    /* border: 2px solid red; */
}

.orders h4 {
    font-size: 1.25em;
    text-align: center;
}

.order {
    /* border: 2px solid green; */
    margin-top: 10px;
}

table {
    margin: 20px auto 0 auto;
    width: 100%;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 5px;
    text-align: center;
}






/* product page */

.product-page-product {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 60vw;
    margin: 10px auto;
}

.product-page-details {
    margin-top: 20px;
}

.product-page-product img {
    width: 100%;
    border: 1px solid grey;
}

.product-page-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.product-page-actions {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.product-page-actions .fa-trash {
    margin-left: 15px;
}

.basket-add-btn {
    all: unset;
    background-color: #F2B613;
    padding: 10px 7.5px;
    color: #000;
    border-radius: 4.5px;
    margin: 0 auto;
    margin-left: 30px;
}

.basket-add-btn:hover {
    cursor: pointer;
}

.wishlist-add-btn {
    all: unset;
}

.wishlist-add-btn:hover {
    cursor: pointer;
    color: red;
}

.product-page-product i {
    font-size: 1.5rem;
}

.product-page-product hr {
    height: 1px;
    width: 100%;
    margin: 20px 0;
}

.product-description-title {
    margin-bottom: 5px;
    font-weight: 550;
}






/* responsive concept */

@media(min-width: 1000px) {

    .page-content {
        padding-bottom: 12.5rem;
    }

    footer {
        height: 12.5rem;
    }

    .logo {
        position: relative;
        top: 0;
        left: 0;
    }

    .fa-search {
        opacity: 0;
    }

    .fa-shopping-basket {
        position: relative;
        top: 0;
        right: 0;
    }

    .sign-in-link {
        border-radius: 4.5px;
        position: relative;
        top: 0;
    }

    .search-container {
        position: relative;
        top: auto;
        left: auto;
        width: 300px;
        opacity: 100;
    }

    .burger {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        /* border: 2px solid black; */
        align-items: center;
        padding: 0 20px
    }

    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        top: 0px;
        height: 100%;
        /* border: 2px solid #fff; */
        z-index: 0;
    }


    .links a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        padding: 0px 10px;
    }

    .dropdown {
        height: 100%;
    }

    .dropdown-content a {
        padding: 10px;
        /* border: 2px solid #fff; */
    }

    .fa-caret-down {
        margin-left: 5px;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* border: 2px solid black; */
        padding: 20px 0;
    }

    footer h3 {
        margin: 0;
    }

    .categories {
        flex-direction: row;
    }

    .category-1,
    .category-2,
    .category-3,
    .category-4,
    .category-5,
    .category-6 {
        width: 25vw;
    }

    .row-desktop {
        display: flex;
        flex-direction: row;
        /* border: 2px solid red; */
        width: 90vw;
        margin: 10px auto 0 auto;
        justify-content: space-between;
    }

    .factbox {
        width: 57.5vw;
        margin: 0;
    }

    .social-media-sec {
        margin: 20px auto;
    }

    .desktop-socials {
        width: 25vw;
    }

    .product-form .product {
        /* border: 2px solid red; */
        width: 18vw;
    }

    .steps {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .step {
        width: 25vw;
    }

    .circle {
        width: 2.5vw;
        height: 2.5vw;
    }

    .winners {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .winner {
        flex-basis: 40%;
    }


    .form-and-details {
        display: flex;
        justify-content: space-between;
        /* border: 2px solid black; */
        flex-flow: row;
    }

    .form {
        margin: 0;
        flex-basis: 50%;
    }

    .details {
        order: 1;
        margin: 0;
        flex-basis: 33.33%;
        height: 100%;
    }

    .account-box {
        flex-basis: 30%;
    }

    table {
        width: 75%;
    }

    .product-page-product {
        /* border: 2px solid red; */
        flex-direction: row;
        width: 50vw;
    }

    .product-page-img {
        /* border: 2px solid blue; */
        width: 75vw;
        margin-right: 30px;
    }

    .product-page-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 30px;
        width: 50vw;
    }

    .basket {
        width: 60vw;
    }

    .order-details,
    .delivery-address,
    .payment-method,
    .final-cost {
        width: 60vw;
    }

    .delivery-address-detail {
        width: 40vw;
    }

    .image-holder {
        width: 30%;
    }

    .payment-method select,
    label {
        width: 40vw;
    }


}